### AWS Variables ###
profile = "xxx"

### If region is not set (default) you are prompted to choose a region at run time.
### Setting a region here removes the prompt - good for repetitive testing 
#region = "2"

### SFx Variables ###
### Default values are using eu0 realm - update for your specific realm ###
access_token = "xxx"
realm = "eu0"
metrics_url = "https://ingest.eu0.signalfx.com"
metrics_tracing = "https://ingest.eu0.signalfx.com/v2/trace"
apm_environment = "https://ingest.eu0.signalfx.com/v2/trace"

### Function URLs ###
### If populated here, will override the default values listed in variables.tf ###
# function_one_url = "tbc"
# function_two_url = "tbc"
