### AWS Variables ###
profile = "xxx"
key_name = "yyy"
private_key_path = "~/.ssh/xxx.pem or ~/.ssh/id_rsa etc"
instance_type = "t2.micro"

## Terraform will prompt you to select an AWS Region to deploy the resources into
## Setting a region here removes the region prompt (default is to have it prompt you)
## List of supported regions can be found in the variables.tf file
#region = "2"


### Splunk Variables ###

## Terraform will prompt you to select a version to be deployed,
## "a" = apm version, "b" = base version.
## Base version is typically deployed, but the apm version can be deployed 
## for testing and comparison purposes
#function_version = "b"

access_token = "xxxxxxxxxx"
realm = "xxx"

# smart_agent_version = "5.6.0-1" # Optional - If left blank, latest will be installed
smart_agent_version = "" # Optional - If left blank, latest will be installed

### https://quay.io/repository/signalfx/splunk-otel-collector?tab=tags
otelcol_version = "0.3.0"
ballast = "683"